<form #contactoForm="ngForm" (ngSubmit)="notificarContacto(contactoForm)" novalidate>

    <div class="row">
        <div class="offset-by-three six columns avatar">
            <img [src]="rutaAvatar" alt="">
        </div>
    </div>

    <!-- Nombre -->
    <div class="row">
        <div class="offset-by-three six columns">
            <label for="nombre">Nombre</label>
            <input 
                type="text" id="nombre"
                class="u-full-width"
                name="nombre"
                ngModel 
                #nombreRef="ngModel"
                placeholder="Ej. Tim"
                required
                minlength="2"
            >
            <div class="mensaje-error"
                *ngIf="nombreRef.touched && nombreRef.errors?.required">
                El campo nombre es requerido
            </div>

            <div class="mensaje-error"
                *ngIf="nombreRef.touched && nombreRef.errors?.minlength">
                El campo nombre debe tener al menos {{nombreRef.errors.minlength.requiredLength}} letras
            </div>
        </div>
    </div>

    <!-- Apellidos -->

    <div class="row">
        <div class="offset-by-three six columns">
            <label for="apellidos">Apellidos</label>
            <input 
                type="text" 
                class="u-full-width"                
                id="apellidos"
                name="apellidos"
                ngModel
                #apellidosRef="ngModel"
                placeholder="Ej. Cook"
                required
                minlength="2"
            >

            <div class="mensaje-error"
                *ngIf="apellidosRef.touched && apellidosRef.errors?.required">
                El campo apellidos es requerido
            </div>

            <div class="mensaje-error"
                *ngIf="apellidosRef.touched && apellidosRef.errors?.minlength">
                El campo apellidos debe tener al menos {{apellidosRef.errors.minlength.requiredLength}} letras
            </div>

        </div>
    </div>

    <!-- Email -->

    <div class="row">
        <div class="offset-by-three six columns">
        <label for="email">Email</label>
        <input 
            type="text" 
            class="u-full-width"
            id="email"
            name="email"
            ngModel
            placeholder="Ej. tim.cook@gmail.com"
        >
        </div>
    </div>

    <!-- Telefono -->

   <div class="row">
        <div class="offset-by-three six columns">
        <label for="telefono">Teléfono</label>
        <input 
            type="number" 
            class="u-full-width"
            id="telefono"
            name="telefono"
            ngModel
            placeholder="Ej. 648597862"
        >
        </div>
    </div>

    <!-- Facebook -->

   <div class="row">
        <div class="offset-by-three six columns">
        <label for="facebook">Facebook</label>
        <input 
            type="text" 
            class="u-full-width"
            id="facebook"
            name="facebook"
            ngModel
            placeholder="Ej. TimCook"
        >
        </div>
    </div>

    <!-- Twitter -->

   <div class="row">
        <div class="offset-by-three six columns"> 
        <label for="twitter">Twitter</label>
        <input 
            type="text"
            class="u-full-width"             
            id="twitter"
            name="twitter"
            ngModel
            placeholder="Ej. TimCook"
        >
        </div>
    </div>

    <!-- Guardar contacto -->
    <div class="row">
        <div class="offset-by-three six columns boton">
            <button type="submit"                
                class="button-primary"
                [disabled]="contactoForm.invalid">
                Guardar
            </button>
        </div>
    </div>
</form>